<h1>Les restaurants s'affichent içi</h1>

<% @restaurants.each do |restaurant| %>
  <h2><%= restaurant.name %></h2>
  <p><%= restaurant.address %></p>
  <p><%= "*" * restaurant.stars %></p>
  <%= link_to "Allez voir", restaurant_path(id: restaurant.id) %>
<% end %>

<!-- à comparer avec rails routes -->
<!-- restaurant GET /restaurants/:id(.:format) restaurants#show   -->
