<form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]">
  <input type="text" name="restaurant[address]">
  <input type="number" name="restaurant[stars]">
  <input type="submit" value="Create Restaurant">
</form>

<!-- POST  /restaurants(.:format) restaurants#create -->

<!-- new_restaurant GET /restaurants/new(.:format) restaurants#new -->
